GF_SECURITY_ADMIN_PASSWORD=changeme
API_TOKEN=optional-bearer-token
MODEL_URL=https://github.com/Profession-AI/progetti-devops/raw/refs/heads/main/Deploy%20e%20monitoraggio%20di%20un%20modello%20di%20sentiment%20analysis%20per%20recensioni/sentimentanalysismodel.pkl

